body {
	font-family: 'Libre Baskerville', serif;
}

.hidden {
	display:none;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr; 	
	grid-template-rows: 20em 13em 20em;
}

#leftHeader {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	background-color: black;
	color: white;
}

#header {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	border: 1px solid black;
}


#formDiv {
	grid-column: 2 / 3;
	grid-row; 2 / 4;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: grey;
	border-radius: .2em;
	padding: 1em;
}

#form > * {
	padding: .4em;
}

input {
	font-family: 'Libre Baskerville', serif;
	border-width: 0 0 2px 0;
	border-style: inset;
	border-radius: 1px;
	padding: .4em 1em .4em 1em;
}

span {
	background-color: #E3E6E8;
	border: 1px solid #E3E6E8;
	border-radius: 4px;
	padding: 0 1% 0 1%;
}


